<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>리스트 페이지</h1>
    <div>
        <form action="/detailEdit/<%= data._id %>">
            <ul>
                <li class="post">
                    <h3>할일: <%= data.content %> </h3>
                    <button class="edit" data-id="<%= data._id %>">수정</button>
                </li>
            </ul>
        </form>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    </script>
</body>
</html>